<header ng-include="'webui/templateComune/header.html'"></header>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <h1 class="page-header">Prevenzione & Streatching</h1>

                <label>Scegli un esercizio </label>
                <select ng-model="EsercizioFis" ng-options="y for y in eserciziFis" ng-change="trova_fisioterapia()" ng-init="trova_fisioterapia()"></select><br>
                <br>
                <label>Scegli un muscolo </label>
                <select ng-model="MuscoloFis" ng-options="y for y in muscoliFis" ng-change="trova_fisioterapia()" ng-init="trova_fisioterapia()"></select><br>
                <br>
                <label>Scegli un livello di dificoltà </label>
                <select ng-model="DifficoltaFis" ng-options="y for y in difficoltaFis" ng-change="trova_fisioterapia()" ng-init="trova_fisioterapia()"></select><br>
                <br>
                <label>Esercizi a corpo libero? </label>
                <select ng-model="CorpoliberoFis" ng-options="y for y in corpoliberoFis" ng-change="trova_fisioterapia()" ng-init="trova_fisioterapia()"></select>
            </div>

            <div class="col-lg-6">  
                <h1  class="page-header" style="visibility: hidden"> Prevenzione <br> & Streatching </h1>
                <div id="eserciziFis" >
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModalFis" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="nomeFis" class="modal-title"> </h4>
                    </div>
                    <div class="modal-body">
                        <p id="descrizioneFis"></p>
                        <p id="consigliFis"></p>
                        <p id="difficoltaFis"></p>
                        <p id="muscoloFis"></p>
                    </div>
                    <div class="modal-footer">
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/oK6YMPILKsQ" frameborder="0" allowfullscreen></iframe>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
